/.zig-cache/
/zig-pkg/
zig-out
/bin/
velora.id
/src/html5ever/target/
src/snapshot.bin
*.bak
*.bak/
node_modules/.lp-cache/
.velora-cache
node_modules
sdk/node_modules
code-check/tmp
diff.txt
.clinerules
/.grok
telegram.config.local.js